@import url("fontsStyle.css");
@import url("colorsStyle.css");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/menuInicial/Wallpaper151.jpg");
  background-repeat: no-repeat;
  background-position: 0px;
  background-attachment: fixed;
  background-size: 100% 100%;

  font-family: pokemonGBTextFont, Arial, Helvetica, sans-serif;
  font-size: 16pt;

  text-align: center;
}

/* Flexboxes */

.mainFlex {
  margin-top: 10vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.flexGenericColumn {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
}

.flexGenericRow {
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: space-evenly;
}

/* Scrollbar (Andrey) */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3b0000;
}

::-webkit-scrollbar-thumb {
  background: rgb(115, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(235, 0, 0);
}

/* Header */
header {
  padding: 3.25vh 0;
  border-radius: 1vw;

  width: 80vw;

  background-color: var(--color-background-gray);
  color: white;

  text-align: center;
}

header h1 {
  font-size: 32pt;
  font-weight: bold;
}

/* Main */
main {
  padding: 1vh 0;
  text-align: center;
}

.card{
  margin: 0.5vh 0.5vw;
  padding: 1vw 0;
  border-radius: 10px;

  width: 39.5vw;
  height: 24.5vh;

  background-color: var(--color-background-gray);
  color: white;

  text-align: center;
}

.card p{
  margin: 0 0.5vw;
  font-size: 13.5pt;
  line-height: 2.75vh;
}

.card img{
  width: 12vw;
  size: 10vh;
}

.buttonGeneric {
  padding: 2vh 0;
  width: 15vw;
  border-radius: 2.5px;

  background-color: var(--color-accent-red);
  color: white;

  text-decoration: none;
}

.buttonGeneric:hover {
  background-color: var(--color-accent-dark-red);
  color: yellow;
}

.buttonPokedex {
  padding: 5vh 0;
  width: 22vw;

  font-size: 20pt;
}