@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

body {
  margin: 0px;
  background: url("../imagens/fundo_blue_red.png");
  background-repeat: no-repeat;
  background-position: 0px;
  background-attachment: fixed;
  background-size: 100% 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  margin-top: -20px;
}

.box {
  width: 1200px;
  height: 850px;
  background: #141414f8;
  text-align: center;
}

.centralBorde {
  position: relative;
  width: 300px;
  height: 717px;
  border-color: #000068;
  border-width: 3px;
  border-radius: 5px;
  background-color: #000068;
  float: right;
  right: 30px;
  top: -3px;
  font-family: 'Rubik', sans-serif;
}

.boxTitle {
  font-size: 30px;
  text-align: center;
  position: absolute;
  color: #f6f4f4;
  right: 40%;
  top: 13px;
}

.wrapper {
  width: 290px;
  height: 166px;
  margin: 120px auto;
  position: relative;
  top: -60px;
  background: #141414;
}

.main-image {
  position: absolute;
  left: 5px;
  height: 100%;
  width: 96%;
  margin: auto;
  align-self: center;
  background: url("../imagens/blue_tittle.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 70%;
  top: -170px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  background: #282828;
  display: inline-block;
  color: #141414;
}

.panels {
  background: #141414;;
  min-height: 380px;
  width: 83%;
  max-width: 500px;
  overflow: hidden;
  padding: 20px;
}

.panel {
  display: none;
  animation: fadein .4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.panel-title {
  font-size: 1em;
  font-weight: bold
}

.radio {
  display: none;
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel {
  display: block;
  color:#ffffff;
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab {
  background: #141414;
  color: #141414;
}