@import url('fontsStyle.css');

.topNav {
  position: fixed;
  margin: 0 auto;

  top: 0;
  right: 0;
  left: 0;

  display: inline;
  list-style-type: none;
  
  background-color: rgb(20, 20, 20);

  font-size: 13pt;
}

/* Borda */

.topNav li
{
  float: left;
  border-left: 1px solid rgb(35, 35, 35);
}

.topNav li:first-child
{
  border-left: none;
}

/* Posicionamento e Formatação dos Links */

.topNav a {
  position: relative;
  display: table-cell;

  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  color: white;
  font-family: pokemonGBTextFont, omegaRubyFont, alphaSapphireFont;
  font-weight: bold;

  width: 206px;
  height: 60px;

  transition: 0.2s ease color;
}

.topNav a:hover 
{
  background-color: rgb(10, 10, 10);
  color: rgb(210, 0, 0);
}

/* Bolinhas Vermelha e Branca */
.topNav a:before,
.topNav a:after 
{
  content: "";
  position: absolute;
  transform: scale(0);

  border-radius: 50%;

  transition: 0.2s ease transform;
}

.topNav a:before 
{
  top: 4px;
  left: 6px;
  
  width: 6px;
  height: 6px;

  background-color: red;
}

.topNav a:after 
{
  top: 8px;
  left: 14px;

  width: 4px;
  height: 4px;

  background-color: white;
}

.topNav a:hover:before,
.topNav a:hover:after 
{
  transform: scale(1);
}