@import url('../fontsStyle.css');

body {
    background-image: url('../../images/menuInicial/Wallpaper151.jpg');
    background-repeat: no-repeat;
    background-position: 0px;
    background-attachment: fixed;
    background-size: 100% 100%;

    font-family: Arial, Helvetica, sans-serif;

    color: white;
}

/* Scrollbar (Andrey) */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #3b0000;
}

::-webkit-scrollbar-thumb {
    background: rgb(115, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(235, 0, 0);
}

/* Header */
.cabecalho {
    background-color: rgba(15, 15, 15, 0.75);
    text-align: center;

    font-family: pokemonTitleFont, omegaRubyFont, alphaSapphireFont, pokemonGBTextFont;
    font-weight: bold;

    margin-top: 70px;
    margin-bottom: 5px;
    margin-left: 200px;
    margin-right: 200px;

    padding-top: 1px;
    padding-bottom: 1px;
}

.cabecalho h1 {
    font-size: 32pt;
    font-weight: bold;
}

/* Main */
.principal {
    background-color: rgba(15, 15, 15, 0.85);
    color: white;

    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.colunaEsquerda {
    float: left;
    width: 40%;
    background-color: rgba(15, 15, 15, 0.85);
    margin-left: 50px;
}

.colunaDireita {
    float: right;
    width: 40%;
    background-color: rgba(15, 15, 15, 0.85);
    margin-right: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    row-gap: 20px;
    column-gap: 10px;

    /* formatação comum */
    padding: 16px;

    text-align: center;


    background-color: rgba(15, 15, 15, 0.85);
}

.box1 {
    background-color: rgba(0, 0, 0, 0.456);

    height: 90%;
    width: 90%;

    text-align: center;
    border-radius: 16px;
}

.principal:after {
    content: "";
    display: table;
    clear: both;
}


.rodape {
    background-color: rgba(15, 15, 15, 0.85);
    text-align: center;

    margin-top: 15px;
    margin-left: 55px;
    margin-right: 55px;

    padding: 5px;
}