body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 251, 251);
    color: rgb(0, 0, 0);
    padding: 11px;
}

.cabecalho {
    padding: 30px;
    text-align: center;
    background-color: rgba(1, 0, 0, 0.653);
}

.cabecalho h1 {
    font-size: 22pt;
}

.topnav {
    overflow: hidden;
    background-color: rgb(213, 218, 216);
    padding: 20px;
    text-align: center;
}

.topnav a {

    display: block;
    color: black;
    padding: 14px, 16px;
    text-decoration: none;
    text-align: center;
    float: left;
    color: black;
    margin-left: 100px;

}

.topnav a:hover {
    background-color: rgba(24, 23, 23, 0.587);
    border-radius: 100%;
}

.principal{
    font-size: 20pt;
    text-align: center;
}

.colunaPrincipal{
    float: center;
    width: 300px; 
    background-color: rgba(240, 255, 255, 0.598);
    padding: 1%;
}

.colunaEsquerda {
    float: left;
    margin-left: 100px;
    width: 300px;
    background-color: rgba(57, 235, 235, 0.598);
    padding: 1%;
}

.colunaDireita {
    float: right;
    margin-right: 100px;
    width: 300px;
    background-color: rgba(47, 235, 235, 0.598);
    padding: 1%;
}

.card {
    font-size: 12pt;
    background-color: rgba(35, 32, 32, 0.619);
    padding: 20px;
    margin-top: 2px;
}

.images {
    background-color: rgba(86, 10, 88, 0.624);
    width: 100%;
    padding: 20px;
}

.images img {
    width: 265px;
    height: 265px;
}

.principal:after {
    content: "";
    display: table;
    clear: both;
}

.rodape{
    
    padding: 20px;
    text-align: center;
    background-color: chartreuse;
    margin-top: 20px;
}