@import url("../fontsStyle.css");

body {
  background-image: url("../../images/menuInicial/Wallpaper151.jpg");
  background-repeat: no-repeat;
  background-position: 0px;
  background-attachment: fixed;
  background-size: 100% 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;

  color: white;
}

/* Scrollbar (Andrey) */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3b0000;
}

::-webkit-scrollbar-thumb {
  background: rgb(115, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(235, 0, 0);
}

.cabecalho {
  background-color: rgba(15, 15, 15, 0.75);
  text-align: center;

  font-family: pokemonTitleFont, omegaRubyFont, alphaSapphireFont,
    pokemonGBTextFont;
  font-weight: bold;

  margin-top: 70px;
  margin-bottom: 5px;
  margin-left: 200px;
  margin-right: 200px;

  padding-top: 1px;
  padding-bottom: 1px;
}

.cabecalho h1 {
  font-size: 32pt;
  font-weight: bold;
}

main {
    text-align: center;
}

.flexGenericColumn {
  display: flex;
  flex-flow: column nowrap;

  align-items: center;
  justify-content: space-evenly;
}

.flexGenericRow {
  display: flex;
  flex-flow: row nowrap;

  align-items: center;
  justify-content: space-evenly;
}

.box {
  /* formatação padrão da flexbox */
  height: 30%;
  width: 20vw;
  border-radius: 16px;

  text-align: center;
}

.box p {
  font-size: 25pt;
  font-family: omegaRubyFont;
}

.box img {
  width: 250px;
  height: 250px;
  border-radius: 100%;

  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.boxAndrey {
    background-color: rgba(5, 200, 80, 0.65);
}

.boxHenrique {
    background-color: rgba(200, 110, 5, 0.65);
}

.boxBreno {
    background-color: rgba(5, 100, 200, 0.65);
}

.boxRangel {
    background-color: rgba(200, 200, 5, 0.65);
}

.mapa {
    border-radius: 15px;
    width: 80vw;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

.rodape {
  background-color: rgba(15, 15, 15, 0.85);
  text-align: center;

  margin-top: 15px;
  margin-left: 55px;
  margin-right: 55px;

  padding: 5px;
}
