.barraLateral {
  position: absolute;
  float: left;
  left: 0;

  margin-top: 60px;
  margin-right: 81.2%;

  width: 18.8%;
  height: 91.4%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  background-color: rgb(200, 200, 200);
}

.txtSearch {
  margin-top: 15px;

  width: 80%;
  height: 30px;

  border: 1px solid red;
  background-color: rgb(235, 235, 235);

  font-family: pokemonGBTextFont, Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.ulPokemon {
  display: flex;
  flex-direction: column;

  padding-left: 0;
  margin-top: 15px;

  height: 550px;
  width: 13.5rem;

  overflow: hidden;
  overflow-y: scroll;

  border: 1px solid red;
  background-color: rgb(235, 235, 235);

  list-style-type: none;
  list-style: none;

  text-align: center;
  font-family: pokemonGBTextFont, Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.ulPokemon li a{
  display: block;

  padding: 6px 10px 2px;

  margin-top: 5px;

  text-decoration: none;

  color: black;
}

.ulPokemon li a:hover {
  background-color: rgb(205, 205, 205);
  color: rgb(210, 0, 0);
}